<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 别名 -->
    <typeAliases>
        <package name="com.newbee.homework.entity"/>
    </typeAliases>
    <!-- 数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-bp1wx1bb31q9x3fy1go.mysql.rds.aliyuncs.com:3306/homework"/>
                <property name="username" value="newbee"/>
                <property name="password" value="newbee2020"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 映射文件 -->
    <mappers>
        <mapper resource="Choices.xml"/>
        <mapper resource="FillInBlank.xml"/>
        <mapper resource="General.xml"/>
        <mapper resource="Student.xml"/>
    </mappers>

</configuration>